<div class="container d-flex justify-content-around">
  <img class="lgoBrand mt-2" src="Ford_logo.png" alt="" />
</div>
<div class="container">
  <div class="row justify-content-between">
    <div
      *ngFor="let car of arrayCarFord"
      class="col-sm-12 col-md-6 mt-5 d-flex"
    >
      <div class="card bg-black shadow-lg h-100">
        <img
          src="{{ car.modelImage }}"
          class="card-img-top h-100 w-100"
          alt="Fiat"
        />
        <div class="card-body flex-grow-1 d-flex flex-column">
          <h5 class="card-title text-light text-center">
            {{ car.brand }}: {{ car.model }}
          </h5>
          <div class="d-flex justify-content-around">
            <span class="badge bg-dark p-1">Anno: {{ car.year }}</span>
            <span class="badge bg-dark"
              >Prezzo: {{ car.price | currency : "EUR" }}</span
            >
          </div>
          <div class="d-flex justify-content-between">
            <span
              [ngClass]="{
                'bg-success': car.available,
                'bg-danger': !car.available
              }"
              class="badge bg-success align-self-start p-2 mt-2"
              >Pronta consegna: {{ car.available ? "SI" : "NO" }}</span
            >
            <a class="btn btn-dark align-self-start mt-2">
              {{ car.available ? "Aquista Ora" : "Prenota Ora" }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
